/* line 3, ../sass/_home.scss */
.image {
  background: url(http://www.raising-happy-chickens.com/images/all-about-chickens.jpg);
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 200px;
}
/* line 9, ../sass/_home.scss */
.image h2 {
  position: relative;
  margin: 0;
  top: 160px;
  background: rgba(116, 207, 212, 0.5);
  padding-left: 10px;
}

/* line 17, ../sass/_home.scss */
.home_row {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  padding-left: 0;
}

/* line 22, ../sass/_home.scss */
.home_info {
  float: left;
  width: 66%;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 27, ../sass/_home.scss */
.home_info a {
  text-decoration: none;
  font-style: italic;
  color: white;
}
/* line 32, ../sass/_home.scss */
.home_info a:hover {
  color: #d474c6;
}
/* line 37, ../sass/_home.scss */
.home_info h1 {
  padding: 0 10px;
  text-align: center;
}
/* line 41, ../sass/_home.scss */
.home_info p {
  font-size: 20px;
  padding: 0 10px;
}

/* line 46, ../sass/_home.scss */
ul {
  padding-bottom: 10px;
}

/* line 49, ../sass/_home.scss */
.list_title {
  margin-bottom: 0;
  text-decoration: none;
}

/* line 54, ../sass/_home.scss */
.social_panel {
  float: right;
  width: 33%;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 11, ../sass/_mixins.scss */
.social_panel ul {
  padding-left: 0;
}
/* line 15, ../sass/_mixins.scss */
.social_panel li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 20, ../sass/_mixins.scss */
.social_panel i {
  font-size: 25px;
  margin: 0 20px;
}
/* line 24, ../sass/_mixins.scss */
.social_panel i:hover {
  color: #d474c6;
}
/* line 28, ../sass/_mixins.scss */
.social_panel a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
/* line 60, ../sass/_home.scss */
.social_panel li {
  padding: 23px 0;
}

/* line 64, ../sass/_home.scss */
.footer {
  width: 100%;
  display: inline-block;
  background: #74cfd4;
  margin-top: 10px;
}
/* line 68, ../sass/_home.scss */
.footer p {
  margin: 10px;
}

/* line 1, ../sass/_about.scss */
.about_row {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}

/* line 6, ../sass/_about.scss */
.testimonial {
  width: 49%;
  float: right;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
/* line 11, ../sass/_about.scss */
.testimonial h2 {
  padding-left: 5px;
}
/* line 15, ../sass/_about.scss */
.testimonial blockquote {
  padding-left: 90px;
  margin-bottom: 0;
}

/* line 20, ../sass/_about.scss */
.video {
  width: 50%;
  float: left;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 25, ../sass/_about.scss */
.video img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

/* line 30, ../sass/_about.scss */
.witness {
  padding-left: 0;
  list-style: none;
}
/* line 34, ../sass/_about.scss */
.witness img {
  float: left;
  padding-left: 10px;
}

/* line 39, ../sass/_about.scss */
.company_info {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: #74cfd4;
  clear: both;
}
/* line 45, ../sass/_about.scss */
.company_info p {
  padding: 10px 15px;
}
/* line 48, ../sass/_about.scss */
.company_info h2 {
  padding: 10px 15px;
}
/* line 51, ../sass/_about.scss */
.company_info a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
}
/* line 57, ../sass/_about.scss */
.company_info a:hover {
  color: #d474c6;
}

/* line 2, ../sass/_contact.scss */
.contact_social_panel {
  float: right;
  width: 37%;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 11, ../sass/_mixins.scss */
.contact_social_panel ul {
  padding-left: 0;
}
/* line 15, ../sass/_mixins.scss */
.contact_social_panel li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 20, ../sass/_mixins.scss */
.contact_social_panel i {
  font-size: 25px;
  margin: 0 20px;
}
/* line 24, ../sass/_mixins.scss */
.contact_social_panel i:hover {
  color: #d474c6;
}
/* line 28, ../sass/_mixins.scss */
.contact_social_panel a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
/* line 8, ../sass/_contact.scss */
.contact_social_panel li {
  padding: 15px 0;
}

/* line 12, ../sass/_contact.scss */
.contact_form {
  width: 62%;
  float: left;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 17, ../sass/_contact.scss */
.contact_form .text {
  padding-left: 10px;
}
/* line 20, ../sass/_contact.scss */
.contact_form .text h2 {
  margin-top: 15px;
  text-decoration: underline;
}
/* line 25, ../sass/_contact.scss */
.contact_form p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 8px;
}
/* line 30, ../sass/_contact.scss */
.contact_form table {
  width: 100%;
}
/* line 33, ../sass/_contact.scss */
.contact_form table .space {
  width: 150px;
}
/* line 36, ../sass/_contact.scss */
.contact_form table .label {
  padding-top: 20px;
}
/* line 40, ../sass/_contact.scss */
.contact_form textarea {
  width: 90%;
  height: 121px;
  margin-top: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* line 46, ../sass/_contact.scss */
.contact_form .button {
  width: 25%;
  background: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 1px;
  color: #d474c6;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* line 57, ../sass/_contact.scss */
.contact_form .button:hover {
  background: #d474c6;
  color: white;
}

/*
************************
NAV AND BODY
************************
*/
/* line 20, ../sass/style.scss */
body {
  width: 90%;
  background-color: #FBFF94;
  font-family: arial;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

/* line 27, ../sass/style.scss */
.navbar {
  width: 100%;
  display: inline-block;
  background: #74cfd4;
}
/* line 29, ../sass/style.scss */
.navbar li {
  display: inline;
  float: right;
  margin: 20px;
  margin-top: 0;
}
/* line 35, ../sass/style.scss */
.navbar li .home_link {
  color: #d474c6;
}
/* line 38, ../sass/style.scss */
.navbar li .about_link {
  color: #d474c6;
}
/* line 41, ../sass/style.scss */
.navbar li .contact_link {
  color: #d474c6;
}
/* line 45, ../sass/style.scss */
.navbar li a {
  border-left: 1px solid white;
  padding-left: 5px;
  color: white;
  text-decoration: none;
}
/* line 51, ../sass/style.scss */
.navbar li a:hover {
  color: #d474c6;
  font-style: italic;
}
/* line 57, ../sass/style.scss */
.navbar h1 {
  margin: 20px;
  float: left;
}
/* line 61, ../sass/style.scss */
.navbar h2 {
  margin: 0;
}
