/*
************************
VARIABLES
************************
*/
/*
************************
MIXINS
************************
*/
/*
************************
NAV AND BODY
************************
*/
/* line 70, ../sass/style.scss */
body {
  width: 90%;
  background-color: #FBFF94;
  font-family: arial;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

/* line 77, ../sass/style.scss */
.navbar {
  width: 100%;
  display: inline-block;
  background: #74cfd4;
}
/* line 79, ../sass/style.scss */
.navbar li {
  display: inline;
  float: right;
  margin: 20px;
  margin-top: 0;
}
/* line 85, ../sass/style.scss */
.navbar li .home_link {
  color: #d474c6;
}
/* line 88, ../sass/style.scss */
.navbar li .about_link {
  color: #d474c6;
}
/* line 91, ../sass/style.scss */
.navbar li .contact_link {
  color: #d474c6;
}
/* line 95, ../sass/style.scss */
.navbar li a {
  border-left: 1px solid white;
  padding-left: 5px;
  color: white;
  text-decoration: none;
}
/* line 101, ../sass/style.scss */
.navbar li a:hover {
  color: #d474c6;
  font-style: italic;
}
/* line 107, ../sass/style.scss */
.navbar h1 {
  margin: 20px;
  float: left;
}
/* line 111, ../sass/style.scss */
.navbar h2 {
  margin: 0;
}

/*
************************
HOME PAGE
************************
*/
/* line 121, ../sass/style.scss */
.image {
  background: url(http://www.raising-happy-chickens.com/images/all-about-chickens.jpg);
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 200px;
}
/* line 127, ../sass/style.scss */
.image h2 {
  position: relative;
  margin: 0;
  top: 160px;
  background: rgba(116, 207, 212, 0.5);
  padding-left: 10px;
}

/* line 135, ../sass/style.scss */
.home_row {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  padding-left: 0;
}

/* line 140, ../sass/style.scss */
.home_info {
  float: left;
  width: 66%;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 145, ../sass/style.scss */
.home_info a {
  text-decoration: none;
  font-style: italic;
  color: white;
}
/* line 150, ../sass/style.scss */
.home_info a:hover {
  color: #d474c6;
}
/* line 155, ../sass/style.scss */
.home_info h1 {
  padding: 0 10px;
  text-align: center;
}
/* line 159, ../sass/style.scss */
.home_info p {
  font-size: 20px;
  padding: 0 10px;
}

/* line 164, ../sass/style.scss */
ul {
  padding-bottom: 10px;
}

/* line 167, ../sass/style.scss */
.list_title {
  margin-bottom: 0;
  text-decoration: none;
}

/* line 172, ../sass/style.scss */
.social_panel {
  float: right;
  width: 33%;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 25, ../sass/style.scss */
.social_panel ul {
  padding-left: 0;
}
/* line 29, ../sass/style.scss */
.social_panel li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 34, ../sass/style.scss */
.social_panel i {
  font-size: 25px;
  margin: 0 20px;
}
/* line 38, ../sass/style.scss */
.social_panel i:hover {
  color: #d474c6;
}
/* line 42, ../sass/style.scss */
.social_panel a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
/* line 178, ../sass/style.scss */
.social_panel li {
  padding: 23px 0;
}

/* line 182, ../sass/style.scss */
.footer {
  width: 100%;
  display: inline-block;
  background: #74cfd4;
  margin-top: 10px;
}
/* line 186, ../sass/style.scss */
.footer p {
  margin: 10px;
}

/*
************************
ABOUT US PAGE
************************
*/
/* line 196, ../sass/style.scss */
.about_row {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}

/* line 201, ../sass/style.scss */
.testimonial {
  width: 49%;
  float: right;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
/* line 207, ../sass/style.scss */
.testimonial blockquote {
  padding-left: 90px;
  margin-bottom: 0;
}

/* line 212, ../sass/style.scss */
.video {
  width: 50%;
  float: left;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 217, ../sass/style.scss */
.video img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

/* line 222, ../sass/style.scss */
.witness {
  padding-left: 0;
  list-style: none;
}
/* line 226, ../sass/style.scss */
.witness img {
  float: left;
  padding-left: 10px;
}

/* line 231, ../sass/style.scss */
.company_info {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: #74cfd4;
  clear: both;
}
/* line 237, ../sass/style.scss */
.company_info p {
  padding: 10px 15px;
}
/* line 240, ../sass/style.scss */
.company_info h2 {
  padding: 10px 15px;
}
/* line 243, ../sass/style.scss */
.company_info a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
}
/* line 249, ../sass/style.scss */
.company_info a:hover {
  color: #d474c6;
}

/*
************************
CONTACT US PAGE
************************
*/
/* line 260, ../sass/style.scss */
.contact_social_panel {
  float: right;
  width: 37%;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 25, ../sass/style.scss */
.contact_social_panel ul {
  padding-left: 0;
}
/* line 29, ../sass/style.scss */
.contact_social_panel li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 34, ../sass/style.scss */
.contact_social_panel i {
  font-size: 25px;
  margin: 0 20px;
}
/* line 38, ../sass/style.scss */
.contact_social_panel i:hover {
  color: #d474c6;
}
/* line 42, ../sass/style.scss */
.contact_social_panel a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
/* line 266, ../sass/style.scss */
.contact_social_panel li {
  padding: 15px 0;
}

/* line 270, ../sass/style.scss */
.contact_form {
  width: 62%;
  float: left;
  background: #74cfd4;
  min-height: 415px;
  position: relative;
  list-style: none;
}
/* line 275, ../sass/style.scss */
.contact_form .text {
  padding-left: 10px;
}
/* line 278, ../sass/style.scss */
.contact_form .text h2 {
  margin-top: 15px;
  text-decoration: underline;
}
/* line 283, ../sass/style.scss */
.contact_form p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 8px;
}
/* line 288, ../sass/style.scss */
.contact_form table {
  width: 100%;
}
/* line 291, ../sass/style.scss */
.contact_form table .space {
  width: 150px;
}
/* line 294, ../sass/style.scss */
.contact_form table .label {
  padding-top: 20px;
}
/* line 298, ../sass/style.scss */
.contact_form textarea {
  width: 90%;
  height: 121px;
  margin-top: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* line 304, ../sass/style.scss */
.contact_form .button {
  width: 25%;
  background: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 1px;
  color: #d474c6;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* line 315, ../sass/style.scss */
.contact_form .button:hover {
  background: #d474c6;
  color: white;
}
