//@mixin flexBox {
//	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
//	display: -moz-box;      /* OLD: Firefox (buggy) */
//	display: -ms-flexbox;   /* MID: IE 10 */
//	display: -webkit-flex;  /* NEW, Chrome 21+ */
//	display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
//}

/*
************************
VARIABLES
************************
*/
$font_col: white;
$box_col: #74CFD4;
$hover: #D474C6;

/*
************************
MIXINS
************************
*/

@mixin social{
	ul{
		padding-left: 0;
	}

	li {
		list-style: none;
		padding-left: 0;
		margin: 0;
		}
	i{
		font-size: 25px;
		margin: 0 20px;

		&:hover{
			color: $hover;
		}
	}
	a{
		text-decoration: none;
		font-size: 20px;
		color: $font_col;
	}
}
@mixin block{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
@mixin panel{
	background: $box_col;
	min-height:415px;
	position: relative;
	list-style: none;
}
@mixin head_foot{
	width:100%;
	display: inline-block;
	background: $box_col;
}
/*
************************
NAV AND BODY
************************
*/

body{
	width:90%;
	background-color: #FBFF94;
	font-family: arial;
	@include block;
	color: $font_col;
}
.navbar{
		@include head_foot;
	li{
		display: inline;
		float:right;
		margin:20px;
		margin-top: 0;

	.home_link{
		color:$hover;
	}
	.about_link{
		color:$hover;
	}
	.contact_link{
		color:$hover;
	}

		a{
			border-left: 1px solid $font_col;
			padding-left: 5px;
			color:$font_col;
			text-decoration: none;

			&:hover{
				color: $hover;
				font-style: italic;
			}
		}
	}
	h1{
		margin: 20px;
		float:left;
	}
	h2{
		margin:0;
	}
}

/*
************************
HOME PAGE
************************
*/
.image{
	background: url(http://www.raising-happy-chickens.com/images/all-about-chickens.jpg);
	@include block;
	width:80%;
	height:200px;

	h2{
		position: relative;
		margin: 0;
		top:160px;
		background: rgba(116,207,212, .5);
		padding-left: 10px;
	}
}
.home_row{
	@include block;
	width:80%;
	padding-left:0;
}
.home_info{
	float:left;
	width: 66%;
	@include panel;

	a{
		text-decoration: none;
		font-style: italic;
		color:$font_col;

		&:hover{
				color: $hover;
			}
	}

	h1{
		padding:0 10px;
		text-align: center;
	}
	p{
		font-size: 20px;
		padding: 0 10px;
		}
	}
	ul{
		padding-bottom: 10px;
	}
	.list_title{
		margin-bottom: 0;
		text-decoration: none;
	}

.social_panel{
	float:right;
	width:33%;
	@include panel;
	@include social;

	li {
		padding: 23px 0;
		}
}
.footer{
	@include head_foot;
	margin-top: 10px;

	p{
		margin: 10px;
	}
}

/*
************************
ABOUT US PAGE
************************
*/
.about_row{
	width: 80%;
	@include block;
	padding-left: 0;
}
.testimonial{
	width:49%;
	float:right;
	@include panel;
	margin-bottom: 20px;

	blockquote{
		padding-left: 90px;
		margin-bottom: 0;
	}
}
.video{
	width:50%;
	float:left;
	@include panel;

	img{
		@include block;
		margin-top: 20px;
	}
}
.witness{
	padding-left: 0;
	list-style: none;

	img{
		float: left;
		padding-left: 10px;
	}
}
.company_info{
	width:80%;
	@include block;
	background: $box_col;
	clear:both;

	p{
		padding: 10px 15px;
	}
	h2{
		padding: 10px 15px;
	}
	a{
		color: $font_col;
		text-decoration: none;
		font-size: 20px;
		font-style: italic;

		&:hover{
				color: $hover;
			}
	}
}
/*
************************
CONTACT US PAGE
************************
*/

.contact_social_panel{
	float:right;
	width:37%;
	@include panel;
	@include social;

	li{
		padding: 15px 0;
	}
}
.contact_form{
	width:62%;
	float:left;
	@include panel;

	.text{
	padding-left: 10px;

	h2{
		margin-top: 15px;
		text-decoration: underline;
	}
	}
	p{
		font-size: 18px;
		font-style: italic;
		margin-bottom: 8px;
	}
	table{
		width: 100%;

		.space{
			width:150px;
		}
		.label{
			padding-top: 20px;
		}
	}
	textarea{
		width: 90%;
		height: 121px;
		margin-top: 10px;
		@include block;
	}
	.button{
		width: 25%;
		background: $font_col;
		text-align: center;
		border-radius: 5px;
		margin-top: 8px;
		margin-bottom: 8px;
		padding: 1px;
		color: $hover;
		@include block;

		&:hover{
			background: $hover;
			color: $font_col;
		}
	}
}
