//@mixin flexBox {
//	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
//	display: -moz-box;      /* OLD: Firefox (buggy) */
//	display: -ms-flexbox;   /* MID: IE 10 */
//	display: -webkit-flex;  /* NEW, Chrome 21+ */
//	display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
//}

@import 'variables';
@import 'home';
@import 'about';
@import 'contact';
@import 'mixins';

/*
************************
NAV AND BODY
************************
*/

body{
	width:90%;
	background-color: #FBFF94;
	font-family: arial;
	@include block;
	color: $font_col;
}
.navbar{
	@include head_foot;
	li{
		display: inline;
		float:right;
		margin:20px;
		margin-top: 0;

		.home_link{
			color:$hover;
		}
		.about_link{
			color:$hover;
		}
		.contact_link{
			color:$hover;
		}

		a{
			border-left: 1px solid $font_col;
			padding-left: 5px;
			color:$font_col;
			text-decoration: none;

			&:hover{
				color: $hover;
				font-style: italic;
			}
		}
	}
	h1{
		margin: 20px;
		float:left;
	}
	h2{
		margin:0;
	}
}